# Dependencies
/node_modules
/dist
/dist-cli
/dist-mcp
/dist-mcpb

# TypeScript build artifacts in src/
src/**/*.js

# IDEs and editors
.idea/
.vscode/

# Environment variables
.env
.env.*
!/.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Local CLI runtime config
.mcp.json
ksql.config.json
/.ksql/queries.json
/sample-app

# plugin keys
pluginId.txt
private.ppk
.npm-cache/
/.tmp/
*.tgz
